.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #fff;
}

.left_section{
  display: flex;
  align-items: center;
}

.left_section > .logo{
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.middle_section{
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 40%;
  padding: 5px;
  border-radius: 50px;
}

.middle_section > input{
  flex: 1;
  border: none;
  outline: none;
}

.middle_section > i{
  width: 50px !important;
  background: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
  display: flex;
  justify-content: center;
}

.right_section{
  display: flex;
  justify-content: space-evenly;
}
.right_section > i{
  margin-left: 10px;
}
